.contacts
    display: flex
.location
    display: flex
    align-items: center
    &__box
        margin-right: 4px 
    &__text
        font-size: 15px
        font-weight: 600
        line-height: 20px
        color: $main-text
.call
    margin-left: 32px
    display: flex
    align-items: center
    &__box
        margin-right: 4px 
    &__text
        font-size: 15px
        font-weight: 600
        line-height: 20px
        color: $main-text
.mail
    margin-left: 32px
    display: flex
    align-items: center
    &__box
        margin-right: 4px
    &__text
        font-size: 15px
        font-weight: 600
        line-height: 20px
        color: $main-text
    