.header
    padding: 16px 0
    &__wrapper
        display: flex
    &__logo
        margin-right: 64px
    &__inlet
        display: flex
        margin-left: auto
    &__login
        margin-right: 16px
        display: flex
        align-items: center
    &__basket
        padding: 10px
        display: flex
        align-items: center
        border: 1px solid $main-color
        border-radius: 4px
    &__box
        margin-right: 4px 
    &__login-text
        font-size: 15px
        font-weight: 600
        line-height: 20px
        color: $main-text
    &__basket-text
        font-size: 15px
        font-weight: 600
        line-height: 20px
        color: $main-color

