.header-desktop
    padding-top: 16px
    &__wrapper
        display: flex
    &__logo
        margin-right: 64px
    &__inlet
        display: flex
        margin-left: auto
    &__login
        margin-right: 16px
        display: flex
        align-items: center
        &:hover
            & p 
                color: $product-color
            & svg path 
                fill: $product-color
    &__basket
        padding: 10px
        display: flex
        align-items: center
        border: 1px solid $main-color
        border-radius: 4px
    &__basket:hover
        background-color: $main-color
        & svg path
            fill: $white 
        & p 
            color: $white
    &__basket-text
        font-size: 15px
        font-weight: 600
        line-height: 20px
        color: $main-color
    &__box
        margin-right: 4px 
    &__login-text
        font-size: 15px
        font-weight: 600
        line-height: 20px
        color: $main-text
    &__navbar
        margin-top: 16px
        padding: 4px 0
        background-color: $navbar-bg
    &__navbar-wrap
        display: flex
        justify-content: space-between
        align-items: center
    &__menu-item
        margin-right: 32px
        font-size: 13px
        font-weight: 600
        line-height: 16px
        color: $white
    &__menu-item:hover
        padding-bottom: 8px
        border-bottom: 4px solid $white

