.header-mobile
    padding: 16px 0
    position: relative
    z-index: 0
    &__wrapper
        display: flex
        justify-content: space-between
    &__logo-wrap
        display: flex
        align-items: center
    &__login
        margin-right: 16px
        display: flex
        align-items: center
    &__basket
        padding: 10px
    &__box
        display: flex
        align-items: center
    &__basket-text
        margin-left: 4px
        font-size: 15px
        font-weight: 600
        line-height: 20px
        color: $main-color
    &__inlet
        display: flex
        margin-left: auto
.burger-mobile
    margin-right: 16px
.navbar-mobile
    padding: 4px 0
    background-color: $navbar-bg
    &__wrapper
        display: flex
        justify-content: center
        align-items: center
.promo-mobile
    border: 1px solid $white
    border-radius: 4px
    display: flex
    justify-content: center
    &__input
        padding: 8px 10px
        width: 198px
        color: $gray
        background-color: transparent
    &__btn
        padding: 8px 10px
        background-color: $white
        cursor: pointer 

    