.navbar
    padding: 4px 0
    background-color: $navbar-bg
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
.menu
    &__item
        margin-right: 32px
        font-size: 13px
        font-weight: 600
        line-height: 16px
        color: $white
.promo
    border: 1px solid $white
    border-radius: 4px
    &__input
        padding: 8px 10px
        width: 198px
        color: $gray
        background-color: transparent
    &__btn
        padding: 8px 10px
        background-color: $white
        cursor: pointer
